<p>
	Session List
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Export</th>
			<th scope="col">Restore</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let session of sessions; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ session.name }}
			</td>
			<td>{{ session.description}}</td>
			<td>
				<button class="btn btn-link"
						(click)="onClickExportSession(session)">
					<img class="button-icon"
						 src="assets/images/share32.png" />
				</button></td>
			<td>
				<button class="btn btn-link"
						(click)="onClickRestoreSession(session)">
					<img class="button-icon"
						src="assets/images/aladdin32.png"/>
				</button>
			</td>
			<td>
				<button class="btn btn-link"
						(click)="onClickDeleteSession(session)">
					<img class="button-icon"
						src="assets/images/bin48.png"/>
				</button>
			</td>
		</tr>
	</tbody>
</table>