<button type="button"
		*ngIf="!tab.isFilterOut"
		[class]="tab.isSelected? 'btn btn-outline-success':'btn btn-outline-light'"
		(click)="onToggleSelected()"
		(dblclick)="onDoubleClickTab()"
		[ngbTooltip]="popTabTitle"
		triggers="mouseenter:mouseleave">
		<span class="flex-row align-content-center">
			<img class="tab-icon flex-col" src={{tab.iconUrl}}/>
			<img *ngIf="tab.pinned" src="assets/images/pin16.png"
				class="tab-pin-icon flex-col"/>
			<img *ngIf="tab.muted" src="assets/images/muted16.png"
				class="tab-muted-icon flex-col"/>
		</span>
</button>
<ng-template #popTabTitle>
	<span>
		<img class="tab-icon flex-col" src={{tab.iconUrl}}/>
		{{tab.title}}
	</span>
</ng-template>