<div *ngIf="!isDisplaySessionList">
	<ngb-accordion [closeOthers]="false" [activeIds]="activeIds" #acc="ngbAccordion" type="light">
		<ngb-panel *ngFor="let window of windows; let i = index" id="panel-{{i}}">
			<ng-template ngbPanelHeader>
				<div [class]="window.isSelected? 'window-panel-header row align-items-end justify-content-between':'row align-items-end justify-content-between'">
					<div class="col-9 justify-content-start">
						<button ngbPanelToggle
						class="btn btn-link"
						(dblclick)="onDoubleClickWindow(window)"
						(click)="onSelectWindow(window)">{{window.title}}</button>
					</div>
					<span class="col-3">
						<span class="row align-items-center justify-content-end">
							<label ngbTooltip="Number of Tabs" placement="bottom" style="margin:-5px 3px 0 0">{{window.tabs.length}}</label>
							<button class="btn btn-link"
									(click)="onFreshCurrentWindow(window)"
									ngbTooltip="Refresh Window"
									placement="bottom"
									style="margin:-5px 0 0 0"
									type="button">
								<img class="tab-icon" src="assets/images/refresh16.png">
							</button>
							<ng-save-session-dialog (saveSessionEvent)="onClickSaveSession($event, window)"></ng-save-session-dialog>
							<button class="close btn-outline-secondary"
									(click)="onClickCloseWindow(window)"
									ngbTooltip="Close Window"
									placement="left"
									type="button"
									style="z-index: 3;margin:-10px 0 0 3px">
								<span aria-hidden="true">&times;</span>
							</button>
						</span>
					</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<span *ngFor="let tab of window.tabs">
					<ng-tab [tabModel]="tab"
							(toggleSelectedEvent)="onToggleSelected($event)"
							(doubleClickedEvent)="onDoubleClickTab($event)" ></ng-tab>
				</span>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</div>

<div *ngIf="isDisplaySessionList">
	<ng-session-list></ng-session-list>
</div>