<span>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickPinTabs()">
		<img class="tabIcon" src=""/>
		Pin Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickCloseTabs()">
		<img class="tabIcon" src=""/>
		Close Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickRefreshTabs()">
		<img class="tabIcon" src=""/>
		Refresh Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickMutedAll()">
		<img class="tabIcon" src=""/>
		Muted All Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickRefreshAllTab()">
		<img class="tabIcon" src=""/>
		Refresh All Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickUndoCloseTabs()">
		<img class="tabIcon" src=""/>
		Undo Close Tab
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickCloseWindows()">
		<img class="tabIcon" src=""/>
		Close Window
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickOptions()">
		<img class="tabIcon" src=""/>
		Options
	</button>
</span>