<span class="row justify-content-end" style="margin: 5px">
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickPinTabs()">
		<img class="button-icon" src="assets/images/pin32.png"/>
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickRefreshTabs()">
		<img class="button-icon" src="assets/images/refresh32.png"/>
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickRefreshAllTab()">
		<img class="button-icon" src="assets/images/refreshall32.png"/>
	</button>
	<button type="button"
		class="btn btn-outline-secondary"
		(click)="onClickUndoCloseTabs()">
		<img class="button-icon" src="assets/images/undo32.png"/>
	</button>
	<button type="button"
		class="btn btn-outline-secondary"
		(click)="onClickOpenInNewWindow()">
		<img class="button-icon" src="assets/images/newwindow32.png"/>
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickMutedAll()">
			<img class="button-icon" src="assets/images/muted32.png"/>
	</button>
	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickCloseTabs()">
			<img class="button-icon" src="assets/images/close32.png"/>
	</button>

	<button type="button"
			class="btn btn-outline-secondary"
			(click)="onClickOptions()">
			<img class="button-icon" src="assets/images/option32.png"/>
	</button>
</span>