<span class="row justify-content-end" style="margin: 5px">
	<button type="button"
			ngbTooltip="Buy me a coffee. :)"
			class="btn btn-outline-secondary"
			(click)="onClickDonate()">
			<img class="button-icon" src="assets/images/coffee32.png"/>
	</button>
	<button type="button"
			ngbTooltip="Pin Tab"
			class="btn btn-outline-secondary"
			[disabled]="isDisplaySessionList"
			(click)="onClickTogglePinTabs()">
		<img class="button-icon" src="assets/images/pin32.png"/>
	</button>
	<div ngbDropdown>
		<button type="button"
				ngbTooltip="Refresh"
				class="btn btn-outline-secondary dropdown-toggle"
				[disabled]="isDisplaySessionList"
				ngbDropdownToggle
				id="dropdownRefreshTabs">
			<img class="dropdown-button-icon" src="assets/images/refresh32.png"/>
		</button>
		<div ngbDropdownMenu aria-labelledby="dropdownRefreshTabs">
			<button (click)="onClickRefreshTabs()" ngbDropdownItem>Refresh Tabs</button>
			<button (click)="onClickRefreshAllTab()" ngbDropdownItem>Refresh All Tabs</button>
		</div>
	</div>
	<button type="button"
		ngbTooltip="Undo"
		class="btn btn-outline-secondary"
		[disabled]="isDisplaySessionList"
		(click)="onClickUndoCloseTabs()">
		<img class="button-icon" src="assets/images/undo32.png"/>
	</button>
	<div ngbDropdown>
		<button type="button"
			ngbTooltip="Open Tabs"
			class="btn btn-outline-secondary dropdown-toggle"
			[disabled]="isDisplaySessionList"
			ngbDropdownToggle
			id="dropdownOpenInNewWindow">
			<img class="dropdown-button-icon" src="assets/images/newwindow32.png"/>
		</button>
		<div ngbDropdownMenu aria-labelledby="dropdownOpenInNewWindow">
			<button (click)="onClickOpenInNewWindow()" ngbDropdownItem>Open in new window</button>
			<button (click)="onClickMoveToNewWindow()" ngbDropdownItem>Move to new window</button>
		</div>
	</div>
	<button type="button"
			ngbTooltip="Mute All Tabs"
			class="btn btn-outline-secondary"
			[disabled]="isDisplaySessionList"
			(click)="onClickMutedAll()">
			<img class="button-icon" src="assets/images/muted32.png"/>
	</button>
	<button type="button"
			ngbTooltip="Toggle Session List"
			[class]="isDisplaySessionList? 'btn btn-primary':'btn btn-outline-secondary'"
			aria-pressed="false"
			autocomplete="off"
			(click)="onClickToggleSessionList()">
			<img class="button-icon" src="assets/images/savesession32.png"/>
	</button>
	<button type="button"
			ngbTooltip="Close Tabs"
			class="btn btn-outline-secondary"
			[disabled]="isDisplaySessionList"
			(click)="onClickCloseTabs()">
			<img class="button-icon" src="assets/images/close32.png"/>
	</button>

	<button type="button"
			ngbTooltip="Options"
			class="btn btn-outline-secondary"
			(click)="onClickOptions()">
			<img class="button-icon" src="assets/images/option32.png"/>
	</button>
</span>